{% extends "@FrontendMain/Main/page.html.twig" %}

{% block content %}
    <h1>{{ "frontend.main.exceptions.error.404"|trans }}</h1>
    <a href="{{ path('frontend_main_homepage') }}">{{ "frontend.main.exceptions.homepage"|trans }}</a>
{% endblock %}