<div class="details-header-name mdl-typography--display-2  appText">
    {{ detailsItem.nazwa }}
</div>
<div class="details-header-name mdl-typography--title  appText">
    {{ detailsItem.adres }}
</div>

<div class="details-header-gallery">
    {% include "@FrontendMain/External/baseGallery.html.twig" with {"medias": detailsItem.poiMedia} %}
</div>