
body {
    /*overflow:hidden !important;*/
    color: rgb(178, 255, 89);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: rgb(244, 246, 233);
}

.portal-header {
    position: relative;
    background: url(/bundles/frontendmain/img/header.jpg);
    /* Set a specific height */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
}

.portal-header .mdl-layout__header-row {
    padding: 0;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mdl-layout__title {
    font-size: 14px;
    text-align: center;
    font-weight: 300;
}

.is-compact .mdl-layout__title span {
    display: none;
}

.portal-logo-row {
    min-height: 200px;
}

.is-compact .portal-logo-row {
    min-height: auto;
}

.portal-logo {
    background: url(images/logo.png) 50% no-repeat;
    background-size: cover;
    height: 150px;
    width: 150px;
    margin: auto auto 10px;
}

.is-compact .portal-logo {
    height: 50px;
    width: 50px;
    margin-top: 7px;
}

.portal-navigation-row {
    background-color: rgba(0, 0, 0, 0.7);
}

.portal-navigation-row .mdl-navigation {
    text-align: center;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
}

.portal-navigation-row .mdl-navigation__link {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 42px;
    color: rgb(178, 255, 89);
    font-weight: 300;
    position: relative;
    transition-duration: 0.5s;
    text-transform: uppercase;
    vertical-align: middle;
    margin: 10px;
}

.portal-navigation-row .mdl-navigation__link:hover, .portal-navigation-row .current {
    text-shadow: 1px 1px 1px;
}

.portal-navigation-row .mdl-navigation__link:after {
    content: "";
    width: 0px;
    height: 2px;
    left: 50%;
    bottom: 0;
    position: absolute;
    transition-duration: 0.5s;
    background-color: rgba(178, 255, 89, 0.5);
}

.portal-navigation-row .current:after, .portal-navigation-row .mdl-navigation__link:hover:after {
    content: "";
    width: 90%;
    height: 2px;
    position: absolute;
    bottom: 0;
    background-color: rgba(178, 255, 89, 0.5);
    left: 5%;
}

.portal-card .mdl-card__title {
    padding-bottom: 0;
}

.portal-blog-card-full-bg {
    background: url(images/example-blog03.jpg) center / cover;
}

.portal-blog-card-event-bg {
    background: url(images/example-blog05.jpg) center / cover;
}

.portal-blog-card-strip-bg {
    background: url(images/example-blog06.jpg) center / cover;
}

.portal-blog-card-compact .mdl-card__title {
    padding-bottom: 0;
}

.portal-blog-card-bg > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

img.article-image {
    width: 100%;
    height: auto;
}

.portal-max-width {
    max-width: 900px;
    margin: auto;
}

.portal-copy {
    max-width: 700px;
}

.no-padding {
    padding: 0;
}

.no-left-padding {
    padding-left: 0;
}

.no-bottom-padding {
    padding-bottom: 0;
}

.padding-top {
    padding: 10px 0 0;
}

.portal-share-btn {
    position: relative;
    float: right;
    top: -4px;
}

.demo-card-event > .mdl-card__actions {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.portal-contact .mdl-textfield {
    width: 100%;
}

.portal-contact form {
    max-width: 550px;
    margin: auto;
}

footer {
    background-image: url(images/footer-background.png);
    background-size: cover;
}

.portal-menu {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.mdl-card__media {
    height: 150px;
    overflow: hidden;
    position: relative;
}

.mdl-card__media .article-image {
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.portal-heading {
    width: 100%;
    margin: 8px;
    font-weight: 300;
    color: rgb(76, 175, 80);
}

.portal-heading .portal-heading-title {
    text-align: center;
    border-bottom: 1px solid rgb(76, 175, 80);
}

.portal-mapa {
    width: 100%;
}

#frontend-map {
    height: 400px;
}

.mdl-cell-half {
    width: calc(50% - 16px) !important;
}

.tabs .tab a:hover, .tabs .tab a.active, .tabs .tab a {
    color: rgb(76, 175, 80);
}

.tabs .indicator {
    background-color: rgb(76, 175, 80);

}

nav {
    background-color: transparent;
}

.details-header-gallery {
    width: 100%;
    position: relative;
    height: 400px;
}

.carousel .carousel-item {
    text-align: center;
}

.carousel .carousel-item > img {
    height: 400px;
    width: auto;
}

/* Portal Styles */
.main-container {
    padding: 50px 10px;
    width: 90%;
}

#content #details {
    padding: 10px 0px;
}

#content #details .details-header-gallery {
    margin: 20px 0px;
    overflow: hidden;
}

#content #details .details-content-extras {
    background-color: #009688;
    padding: 30px;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
}

#content #details .details-content-extras .details-content-extras-header {
    font-size: 20px;
}

#content #details .details-content-extras .details-content-extras-information {
    padding-top:20px;
}

#content #details .details-content-extras .details-content-extras-title {
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: underline;
}

#content #details .details-content-extras .details-content-extras-value {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
}

#content #details .details-content-extras .details-content-extras-information a {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
}

#content #details .details-media-list .details-media-media {
    display: inline-block;
    cursor: pointer;
}

#content #details .details-media-list .material-placeholder img {
    height: 150px;
    width: auto;
}

#content #details  .details-sector {
    padding: 20px 0px;
}

.appColor {
    color: #004D40;
}

.appBackground {
    background-color: #009688;
}

.appHeader {
    color: rgb(76, 175, 80);
    text-transform: uppercase;
}

.appText {
    padding: 5px 0px;
}

#sidebar .collection-header {
    background-color: #009688;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}



/* [END] Portal Styles*/